{% load i18n %}
  
<div id="CookielawBanner">
  <div class="container">
    <div class="card">
      <div class="card-header text-white bg-danger text-lg-left font-weight-bold">
        {% trans "Cookie information" %}
      </div>
      <div class="card-body">
        {% blocktrans %}
	<p>
	This site does not use tracking cookies of any kind.
	It does use up to three cookies for other purposes though:
	</p>
	<ul>
	  <li>One cookie to track whether you've seen and accepted this cookie warning (valid for ten years)</li>
	  <li>One session coockie related to session information stored on the server side</li>
	  <li>The map tile servers on openstreetmap.org may also set a cookie of their own</li>
	</ul>
	<p>
	The server side session tied to the session cookie is only used to remember
	previous choices when filling out the <em>Create map</em> form. The session
	does not store personalized data in any form.
	</p>
	The site will continue to function even when you choose to not accept
	any cookies, but you'll unfortunately also see this message again and
	again unless you at least accept the <tt>cookielaw_accepted</tt> cookie
	that gets sent when hitting the "OK" button below.
	<p>
	</p>
	<p>
	For further details see the sites <a href="/privacy/#cookies">privacy statemet</a>
	</p>
        {% endblocktrans %}
      </div>
      <div class="card-footer ">
        <a class="btn btn-primary" href="javascript:Cookielaw.createCookielawCookie();">{% trans "Accept" %}</a>
      </div>
    </div>
  </div>
</div>


